<h1>Welcome!</h1>
<p>
    The project you are currently viewing is called the "Planboard Monitor Control Panel".
    This project was created as part of Sogeti's Young Professional Development Program.
    Together with fifteen other Young Professionals, I was tasked to revamp the Planboard 
    Monitor. This tool detects changes in Sogeti's Planboard and sends an email notification 
    to the corresponding managers to whom these changes are important. It was created solely by me
    using the Angular-framwork. You can view the application <a routerLink="/control-panel" [routerLinkActive]="['isActive']">here</a>.
</p>
<p>
    Any questions? Please email me at <a href="mailto:noel.herwig@sogeti.com?subject=Planboard%20Monitor">noel.herwig@sogeti.com</a>  
</p>
<p><span class="fst-italic">Technologies used - Angular, TypeScript, Bootstrap, SCSS</span></p>
<hr>
<section>
    <h5>1. The problem</h5>
    <p>
        One time, a Career Manager at Sogeti developed his own tool that would send him an email whenever
        there were changes in the Planboard. After a while, other Career Managers started using this 
        tool as well, despite the tool running on a personal server at someone's home.
        When Sogeti caught wind of this, they immediately demanded that the tool would 
        be killed, but this resulted in a bunch of angry Career Managers who were suddenly not able to work
        as efficient as before. The notification-tool was permitted to stay, but it was clear something had
        to change.
    </p>

    <h5>2. The assignment</h5>
    <p>
        As the original developer of the Planboard Monitor tool would be leaving soon, this was the perfect
        time for the Young Professionals at Sogeti to revamp it. It's Product Owner would become 
        <span class="fw-bold">Mark Rumpf</span>, with both <span class="fw-bold">Emily Beekhuis</span> and
        <span class="fw-bold">Berend van Veenendaal</span> as coaches for the project. They compiled a team of
        people with different specialisations, where I myself was to become part of the frontend division. 
        I became responsible for designing and developing the frontend of the application, where the end users could
        choose at what times and from which units they wanted to receive notifications.
    </p>

    <h5>3. The process</h5>
    <p>
        For this project, I was responsible for designing and developing the frontend and making sure the application 
        could properly communicate with the API written by our backend team. To give myself a challenge, I chose to develop 
        this application in Angular. While the use of Angular was not strict requirement for this project, all of Sogeti's other applications 
        also all use Angular. I had never used this framework before, but this project's scope seemed more than suitable for a first-time 
        user of Angular. To finish up the project, I let my code be verified by <span class="fw-bold">Roy Brouwer</span>, one of Sogeti's experts 
        in the use of Angular. He gave me some helpful tips that I used to improve my application even more.
    </p>

    <h5>4. The result</h5>
    <p>
        The end result was the Planboard Monitor Control Panel, which you can navigate to at the top of this page. End users can make changes to their
        subscriptions and receive email notifications accordingly. This application could originally communicate with the backend division's API, but 
        for this prototype this functionality has been left out. All in all, I am happy with this project's end result and can now say I have expanded
        on my knowledge of Angular.
    </p>
</section>