<div class="navbar navbar-custom">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="../assets/Sogeti_Logo_WHITE.png" style="width: 97px; height: 50px;"/>
    </a>
    <ul class="nav nav-custom">
        <li><a class="nav-link" routerLink="/welcome" [routerLinkActive]="['isActive']">Welcome</a></li>
        <li><a class="nav-link" routerLink="/control-panel" [routerLinkActive]="['isActive']">Control Panel</a></li>
    </ul>
  </div>
</div>